.nav-bar {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 1rem;
	background-color: #96a8c8;
}
.header-nav-title {
	text-decoration: none;
	margin: auto;
	font-size: 2.3rem;
	padding: 12px;
	padding-bottom: 0;
	font-family: "Courier New", Courier, monospace;
	color: #ffc;
}

.header-nav-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.header-nav-menu li {
	display: inline-block;
	margin-top: 0;
	margin-left: 3rem;
	padding-bottom: 2px;
	font-size: 20px;
}

.header-nav-menu li a {
	text-decoration: none;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
		Verdana, sans-serif;
	color: #000;
}
.footer {
	text-align: center;
	padding: 10px;
	background: #ffc;
	font-family: Verdana, sans-serif;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

main {
	margin-bottom: 2rem;
}

#about {
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
		Verdana, sans-serif;
	padding: 10px;
}
#gallery {
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
		Verdana, sans-serif;
	padding: 10px;
}

#credit {
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
		Verdana, sans-serif;
	padding: 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 32%;
	max-width: 32%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

@media screen and (max-width: 900px) {
	.column {
		flex: 48%;
		max-width: 48%;
	}
}

@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}
