body {
	height: 100vh;
	background-color: #27233a;
	font-style: sans-serif;
}

header h1 {
	color: #27233a;
	text-align: center;
	font-size: 3rem;
	width: 100%;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	background-color: #dcc48e;
	padding: 1rem 0;
	transition: transform 0.5s ease-in;
}

header h1 a {
	text-decoration: none;
}

header h1:hover {
	transform: skew(5deg) scale(1.1);
}

h2 {
	text-align: center;
	font-size: 2rem;
	color: #dcc48e;
}

#hero {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#hero img {
	width: 25%;
	transition: transform 0.1s ease-in;
}

#hero img:hover {
	transform: scale(1.15);
	animation: oscillate 1s ease-in infinite;
}

@keyframes oscillate {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(10deg);
	}
	50% {
		transform: rotate(0deg);
	}
	70% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	flex-wrap: wrap;
	margin: 0 10rem 0 10rem;
}
.links a {
	text-decoration: none;
	color: #eaefd3;
	font-size: 38px;
	border: 5px solid #eaefd3;
	text-align: center;
	padding: 25px 25px;
	position: relative;
	overflow: hidden;
	margin: 2rem;
	transition: transform 0.5s ease-in, color 0.3s ease-in, border 0.3s ease-out;
}

.links a::before {
	position: absolute;
	content: "";
	background-color: #dcc48e;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translate(-24rem);
	transition: transform 0.5s ease-out;
	z-index: -1;
}

.links a:hover:before {
	transform: translate(0);
}

.links a:hover {
	color: #27233a;
	border: 5px solid #27233a;
}
#potato-game {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.potato-bounce-box {
	border: 5px solid #eaefd3;
	width: 30rem;
	height: 30rem;
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
}

.potato-sprite {
	position: absolute;
	height: 15%;
}

.potato-bounce-box:hover .potato-sprite {
	animation: moveX 3s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}

.potato-bounce-box p {
	text-align: center;
	font-size: 2rem;
	font-family: sans-serif;
	color: #eaefd3;
	margin-top: 10rem;
}

@keyframes moveX {
	from {
		left: 0%;
	}
	to {
		left: 85%;
	}
}

@keyframes moveY {
	from {
		top: 0%;
	}
	to {
		top: 85%;
	}
}

/*
.potato-bounce-box:hover .potato-sprite {
	animation: random-movement 3s ease-in forwards infinite;
}
@keyframes random-movement {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateY(310%);
	}
	50% {
		transform: translateX(300%) translateY(310%);
	}
	75% {
		transform: translateX(300%);
	}
	100% {
		transform: translateX(0);
	}
}
*/

.catalogue-grid {
	display: grid;
	column-gap: 245px;
	grid-template-columns: repeat(4, minmax(56px, 80px));
	justify-content: center;
}

.square {
	width: 150px;
	height: 150px;
	position: relative;
	transition: all 0.5s ease-in;
}

.square p,
.square h3 {
	text-align: center;
	transition: 1s ease-in-out 0.15s;
}

.square p {
	opacity: 0;
}

.square:hover {
	position: relative;
	width: 255px;
	height: 300px;
	border-radius: 10%;
	background-color: #eaefd3;
	transform: rotate(360deg);
}

.square:hover .avatar {
	width: 40%;
	margin: 3px;
	clip-path: circle();
	border: none;
}

.square:hover p,
.square:hover h3 {
	opacity: 1;
}

.avatar {
	object-fit: cover;
	border: 4px solid #eaefd3;
	background-color: #eaefd3;
	transition: transform 0.5s ease-in;
}

.avatar:hover {
	transform: skew(1deg) scale(1.15);
	clip-path: circle();
	border: none;
}
